<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 class="font-weight-light">Welcome to PaymentHub!</h1>
            <p class="lead">Choose your subscription plan</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <form id="billingPlanForm" [formGroup] = "billingPlanForm" (ngSubmit) = "submitForm()">
                <div class="form-label-group">
                  <label style="margin-left:5px" for="paymentMethod" class="form-control-label">Payment method</label>
                  <select formControlName="paymentMethod" class="form-control" >
                    <option *ngFor="let paymentMethod of paymentMethods; let i = index" [ngValue]=paymentMethod>
                      {{paymentMethod.name}}
                    </option>
                  </select>
                </div>
                <div class="form-label-group">
                  <label style="margin-left:5px" for="billingPlan" class="form-control-label">Billing plan</label>
                  <select formControlName="billingPlan" class="form-control" >
                    <option *ngFor="let plan of billingPlans; let i = index" [ngValue]=plan>
                      {{plan.cyclesNumber}} {{plan.frequency.toLowerCase()}}s | {{plan.type}}
                    </option>
                  </select>
                </div>
                <button class="btn btn-md btn-dark btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" form="billingPlanForm" [disabled]="!billingPlanForm.valid">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  