<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h2 class="font-weight-light text-center mb-4">Register to PaymentHub</h2>
              <h5 class="font-weight-light text-center mb-4">Enter the password you recieved to continue setting up your account.</h5>
              <form id="registrationForm" [formGroup] = "registrationForm" (ngSubmit) = "submitForm()">
                <div class="form-label-group">
                  <label style="margin-left:5px" for="inputEmail" class="form-control-label">Email</label>
                  <input type="text" id="inputEmail" class="form-control" placeholder="Email" formControlName="email">
                </div>
                <div class="form-label-group">
                  <label style="margin-left:5px" for="inputPassword" class="form-control-label">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
                </div>
                <button class="btn btn-lg btn-dark btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" form="registrationForm" [disabled]="!registrationForm.valid">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
