<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Register your webshop</h3>
              <form id="registrationForm" [formGroup] = "registrationForm" (ngSubmit) = "submitForm()">
                <div class="form-label-group">
                  <label for="inputName" class="form-control-label">Name</label>
                  <input type="text" id="inputName" class="form-control" placeholder="Name" formControlName="name">
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" form="registrationForm" [disabled]="!registrationForm.valid">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  