<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pay in bank1</title>
</head>

<body>
    <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Credit card info</h2>
                    <form id="payForm" [formGroup]="payForm" (ngSubmit)="submitForm()">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="NAME" formControlName="name"
                                        name="name">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="LAST NAME"
                                        formControlName="lastName" name="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="MONTH OF EXPIRING CARD"
                                        formControlName="month" id="month" name="month">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <input class="input--style-1" type="text" placeholder="YEAR OF EXPIRING CARD"
                                        formControlName="year" id="year" name="year">
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" formControlName="pan" placeholder="PAN"
                                name="pan">
                        </div>
                        <div class="input-group">
                            <input class="input--style-1" type="text" formControlName="cvv" placeholder="CVV"
                                name="cvv">
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>