/*.masthead {
    height: 100vh;
    min-height: 500px;
}*/

.center {
  margin: auto;
  width: 50%;  
  padding: 10px;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    border-radius: 2rem;
  }

  ::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

select {
  width: 100%;
  outline: none;
}

select:focus {
  box-shadow: 0 0 3pt 2pt rgb(189, 221, 255);
  border: 1px solid;
  border-color: rgb(128, 189, 255);
  border-radius: 2rem;
}

.form-label-group>select {
  border-radius: 2rem;
}